[submodule "tornado"]
	path = tornado
	url = git://github.com/kzahel/tornado_gen.git
[submodule "dht_tornado"]
	path = dht_tornado
	url = git@github.com:bbarrows/dht_tornado.git
[submodule "ktorrent"]
	path = ktorrent
	url = git://github.com/kzahel/ktorrent.git
[submodule "dht_bootstrapper"]
	path = dht_bootstrapper
	url = git@github.com:bbarrows/dht_bootstrapper.git
